.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.loader div {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background-color: #1da1f2;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.loader div:nth-child(1) {
  animation-delay: -0.32s;
}

.loader div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}